:root {
  --Blue: hsl(246, 80%, 60%);
  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);
  --violet-dark: hsl(235, 46%, 20%);
}

.container {
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  font-family: "Rubik", sans-serif;
  justify-content: center;
}
.dashboard {
  display: grid;
  grid-template-columns: 250px 300px 300px 300px;
  grid-template-rows: 200px 200px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* css pour la card profil */
.profilCard {
  grid-column: 1/2;
  grid-row: 1/3;
  height: 100%;
  background-color: var(--violet-dark);
  justify-content: space-between;
  border-radius: 20px;
}
.nameProfil {
  padding: 20px;
  color: white;
  position: relative;
  z-index: 2;
  border-radius: 20px;
  background-color: var(--Blue);
}
.nameProfil img {
  border: 4px solid white;
  border-radius: 50px;
}
.nameProfil p {
  font-size: 14px;
}
.nameProfil h1 {
  width: 50px;
  font-size: 26px;
  font-weight: 400;
}
.profilCard img {
  height: 80px;
}

.textProfil {
  gap: 10px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 20px;
  color: white;
}
/* css pour la card profil */

/* css pour les autres cards */
.card {
  background-color: green;
  height: 100%;
  display: grid;
}
.logo1 {
  background-color: orange;
}
.logo1,
.logo2,
.logo3,
.logo4,
.logo5,
.logo6 {
  height: 50px;
  display: flex;
  justify-content: end;
}
.logo1 img {
  margin-right: 10px;
  height: 70px;
  clip-path: inset(10px 0 0 0);
  position: relative;
  top: -10px;
}
.logo2 img {
  margin-right: 10px;
  height: 70px;
  clip-path: inset(10px 0 0 0);
  position: relative;
  top: -10px;
}
.logo3 img {
  margin-right: 10px;
  height: 70px;
  clip-path: inset(10px 0 0 0);
  position: relative;
  top: -10px;
}
.logo4 img {
  margin-right: 10px;
}
.logo5 img {
  margin-right: 10px;
  position: absolute;
}
.logo6 img {
  margin-right: 10px;
  height: 60px;
  clip-path: inset(10px 0 0 0);
  position: relative;
  top: -10px;
}
.trackingTime {
  background-color: var(--violet-dark);
  height: 160px;
  border-radius: 20px 20px 0 0;
  position: relative;
  top: -10px;
}
/* css pour les autres cards */

/* css pour les details des cards */
.theme {
  display: flex;
  justify-content: space-around;
}
.theme > img {
  object-fit: contain;
}
